<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      @if (countries().length === 0) {
        <tr>
          <td colspan="6" class="text-center py-8 text-gray-500">
            <p>No se encontraron resultados</p>
          </td>
        </tr>
      }

      @for (country of countries(); track country.name; let i = $index) {
        <tr class="hover:bg-base-300">
          <th>{{ i + 1 }}</th>
          <td>
            <span class="font-emoji text-3xl" [innerHTML]="country.flag"></span>
          </td>
          <td><img [src]="country.flags.svg" [alt]="country.name" class="w-8 h-6"></td>
          <td>{{ country.name.common }}</td>
          <td>{{ country.capital }}</td>
          <td>{{ country.population | number }}</td>
        </tr>

      }
    </tbody>
  </table>
</div>
