

<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="countries.length === 0">
        <td colspan="6" class="text-center py-8 text-gray-500">
          <div class="flex flex-col items-center">
            <p class="text-lg font-medium">No se encontraron resultados</p>
          </div>
        </td>
      </tr>
      
      <tr class="hover:bg-base-300" *ngFor="let country of countries; let i = index">
        <th>{{ i + 1 }}</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>